<mat-toolbar color="primary">
  <div style="display: flex; gap: 12px;">
    <span routerLink="/">NGRX Demo</span>
    <button mat-button routerLink="counter">Counter</button>
    <button mat-button routerLink="jsonplaceholder">Json Placeholder</button>
    <button mat-button routerLink="testing">Interview Counter</button>
    <button mat-button routerLink="cards">Interview DisplayCards</button>
  </div>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button>Login</button>
  <button mat-button>Logout</button>
</mat-toolbar>
